<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<script src="/js/network_draw.js"></script>
<style>

    .link {
        stroke: #aaa;
    }

    .node text {
        stroke: #333;
        cursos: pointer;
    }

    .node circle {
        stroke: #fff;
        stroke-width: 3px;
        fill: #555;
    }

    .tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 12px;
        padding: 8px;
        margin-top: -20px;
        font: 10px sans-serif;
        background: #ddd;
        pointer-events: none;
    }

</style>
<body>
<script>
    d3.json("/entity?id=" + "{{ data|safe }}", drawGraph);
</script>
