<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<style>

    .link {
        stroke: #aaa;
    }

    .node text {
        stroke: #333;
        cursos: pointer;
    }

    .node circle {
        stroke: #fff;
        stroke-width: 3px;
    }

    .tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 12px;
        padding: 8px;
        margin-top: -20px;
        font: 10px sans-serif;
        background: #ddd;
        pointer-events: none;
    }

</style>
<body>
<script>
    function drawGraph(json) {

        var div = d3.select("body").append("div")
        .attr("class", "tooltip")
        .style("display", "none");

        function mouseover() {
            div.style("display", "inline");
        }

        function mousemove(d) {
            div
            .text(d.label)
            .style("left", (d3.event.pageX - 34) + "px")
            .style("top", (d3.event.pageY - 12) + "px");
        }

        function mouseout() {
            div.style("display", "none");
        }

        var width  = window.innerWidth * 0.8,
            height = window.innerHeight * 0.8;

        var svg = d3.select("body").append("svg")
        .attr("width", width)
        .attr("height", height);

        var force = d3.layout.force()
        .gravity(.05)
        .distance(100)
        .charge(-100)
        .size([width, height]);

        force.nodes(json.nodes)
        .links(json.links)
        .start();

        var link = svg.selectAll(".link")
        .data(json.links)
        .enter().append("line")
        .attr("class", "link")
        .style("stroke-width", 2)
        .on('mouseover', mouseover)
        .on('mouseout', mouseout)
        .on('mousemove', mousemove);

        var node = svg.selectAll(".node")
        .data(json.nodes)
        .enter().append("g")
        .attr("class", "node")
        .call(force.drag);

        node.append("circle")
        .attr("r", function (d) {
            if (d.root) return "10";
            else return "5";
        })
        .on('mouseover', mouseover)
        .on('mouseout', mouseout)
        .on('mousemove', mousemove)
        .on('click', function (d) {
            window.open(d.id);
        })
        .style("fill", function (d) {
            if (d.root) return "#f00";
            else return "#555";
        });

        force.on("tick", function () {
            link.attr("x1", function (d) { return d.source.x; })
            .attr("y1", function (d) { return d.source.y; })
            .attr("x2", function (d) { return d.target.x; })
            .attr("y2", function (d) { return d.target.y; });

            node.attr("transform", function (d) { return "translate(" + d.x + "," + d.y + ")"; });
        });
    }
</script>
<script>
    function get_job_result(job_id) {
        var req = new XMLHttpRequest();
        req.open('GET', "/job?id=" + job_id, true);
        req.send();
        req.onreadystatechange = function (e) {
            if (req.readyState == 4 && req.status == 200) {
                var result = JSON.parse(req.responseText).result;
                drawGraph(result);
            }
            else if (req.readyState == 4) {
                setTimeout(function () {
                    get_job_result(job_id);
                }, 1000);
            }
        }
    }

    var xhr = new XMLHttpRequest();
    xhr.open('GET', "/entity?id=" + "{{ data|safe }}", true);
    xhr.send();

    xhr.addEventListener("readystatechange", function (e) {
            if (xhr.readyState == 4 && xhr.status == 202) {
                // request done
                var job_info = JSON.parse(xhr.responseText);
                console.log(xhr.responseText);
                var job_id = job_info.job;
                setTimeout(function () {
                    get_job_result(job_id);
                }, 1000);
            }
        },
        false
    );
</script>
