<!DOCTYPE html>
<meta charset="utf-8">
<script src="http://d3js.org/d3.v2.min.js?2.9.3"></script>
<script src="/js/network_draw.js"></script>
<style>

    .link {
        stroke: #aaa;
    }

    .node text {
        stroke: #333;
        cursos: pointer;
    }

    .node circle {
        stroke: #fff;
        stroke-width: 3px;
        fill: #555;
    }

    .tooltip {
        position: absolute;
        text-align: center;
        width: 60px;
        height: 12px;
        padding: 8px;
        margin-top: -20px;
        font: 10px sans-serif;
        background: #ddd;
        pointer-events: none;
    }

</style>
<body>
<script>
    function get_job_result(job_id) {
        var req = new XMLHttpRequest();
        req.open('GET', "/job?id=" + job_id, true);
        req.send();
        req.onreadystatechange = function (e) {
            if (req.readyState == 4 && req.status == 200) {
                var result = JSON.parse(req.responseText).result;
                drawGraph(result);
            }
            else if (req.readyState == 4) {
                setTimeout(function () {
                    get_job_result(job_id);
                }, 1000);
            }
        }
    }

    var xhr = new XMLHttpRequest();
    xhr.open('GET', "/entity?id=" + "{{ data|safe }}", true);
    xhr.send();

    xhr.addEventListener("readystatechange", function (e) {
            if (xhr.readyState == 4 && xhr.status == 202) {
                // request done
                var job_info = JSON.parse(xhr.responseText);
                console.log(xhr.responseText);
                var job_id = job_info.job;
                setTimeout(function () {
                    get_job_result(job_id);
                }, 1000);
            }
        },
        false
    );
</script>
